@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}


.text-1{
  align-items:center;
  margin:center;
  font-weight: bold;
  width: 495px;
  height: 192px;
  margin-top:150px;
  font-size:400%;
  font-family:'Kanit', sans-serif;
  margin-left: 80px;
} 

.text-2{
  align-items:center;
  margin:center;
  font-weight: bold;
  font-family:'Inter', sans-serif;
  font-size: 100%;
  margin-left: 80px;
  width: 495px;
  height: 80px;
} 

.container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 150px; */
  background-color: #F1F1F1;
  
} 

.list-item-button{
  display: flex;
  flex-direction: row;
  background-color:#081E341F;
  color: #081E34;
  border: none;
  border-radius:15px;
  width: 110px;
  height: 40px;
  Padding:5px, 12px, 10px, 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height:50px;
  font-weight: bold;
  
}

.list-item{
  list-style-type: none;
  margin-right: 20px;
  float: right;
  font-weight: bold;
  color: #081E34;
  margin-top: 10px;
  line-height: 40px;
}

.nav {
  display: flex;
  flex-direction:row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F1F1;
  margin-bottom: -15%;
}

.nav-menu{
  margin-right:150px;
}


.container2{
  display:flex;
  flex-direction: column;
  background-color:#E1DEE7;
  border-radius:32px;
  height: 200px;;
  width: 100%;
  text-align: center;
  margin-bottom: -150px;
} 

.inContainer1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inContainer2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 100px;
  height: 50px;
}

.inText{
  font-weight: bold;
  width: 300px;
  height: 192px;
  margin-top:50px;
  font-size:150%;
  font-family:'Inter', sans-serif;
  margin-left: 200px;
  margin-bottom:-25%;
}



.container3{
 background-color: #F1F1F1;
  border-radius: 30px;
  margin-top:0px;
}


.cont{
  display: flex;
  flex-direction: column;
  margin-left:30px;
}


.texttt{
  font-weight: bold;
  width: 495px;
  height: 192px;
  font-size:400%;
  font-family:'Kanit', sans-serif;
  margin-left:50%;
  margin-top: -450px;
}
 .task {
    margin-bottom: 10px;
  }

  .task input[type="checkbox"] {
    margin-right: 10px;
  }

  .deleted {
    text-decoration: line-through;
    color: gray;
  }

  .bin {
    cursor: pointer;
    color: red;
  }


.btn{
  margin-top:6%;
  margin-left:4%;
  font-size: 14px;
  width: 75px;
  height: 40px;
  background-color: #F0F0F0;
  color: #081E34;
  border-radius:25px;
  border:none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  margin-right: 10px;
}


.btn:hover {
  background-color: #002ead;
}



.container{
  display: flex;
  flex-direction: row;
}

.newtask{
  margin-left: 230px;
  background-color: #E4E6E7;
  margin-top: 6%;
  height: 250px;
  width: 300px;
  border-radius: 25px;
}

.taskInput{
  border: none;
  height: 150px;
  margin-left: 30px;
  border-radius: 20px;
  width:230px;

}

.footer{
  display: flex;
  flex-direction: row;
  height: 20px;
  margin-top: 290px;
  margin-left: 40px;
  position: relative;

}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  width: 700px;;
  margin: 100px;
  border-radius: 5px;
  background-color: #71b773;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #000000;
}

